# API
BUKMATIKA_CONTACT_EMAIL=
BUKMATIKA_WEB_ORIGIN=http://localhost:3000
BUKMATIKA_DATABASE_URL=postgresql+psycopg://bukmatika:bukmatika@localhost:5432/bukmatika

# Web
NEXT_PUBLIC_API_BASE_URL=http://localhost:8000
